{% extends 'base.html' %}
{% block content %}
    {% if not current_user.is_authenticated %}
        <div class="container mt-5"> <!-- Adds a top margin and centers content -->

                <div class="d-flex justify-content-start mb-4"> <!-- Ensures button is aligned to the start and adds bottom margin -->
                    <a href="/" class="btn btn-primary">Go Back</a>
                </div>

                <div class="col-4 offset-md-4 bg-light p-4 border rounded">
                    <!-- The following is the action "/login" which in the app.py is @app.route('/login') -->

                    <form action="/login" method="POST" enctype="multipart/form-data">
                        <div class="mb-3">
                            <!-- The following is the label Nickname -->
                            <label for="nicknameInput" class="form-label">Email</label>
                            <!-- The following is the input that goes under the name "nickname" -->
                            <!-- Using regular expressions to check if the entered email is correct -->
                            <!-- 
                                IMPORTANT: USE TYPE="EMAIL" BECAUSE THE INPUT TYPE FOR THE EMAIL IS STILL SET TO TYPE="TEXT", WHICH MIGHT NOT FULLY UTILIZE THE BROWSER'S BUILT-IN VALIDATION FOR EMAIL ADDRESSES.
                                TO IMPROVE VALIDATION AND ENSURE IT WORKS EFFECTIVELY, THE INPUT TYPE FOR THE EMAIL SHOULD BE CHANGED FROM "TEXT" TO "EMAIL". 
                                THIS CHANGE NOT ONLY APPLIES PATTERN VALIDATION BUT ALSO LEVERAGES THE BROWSER'S INTRINSIC CAPABILITIES TO VALIDATE EMAIL ADDRESSES.
                                CHANGING TYPE="TEXT" TO TYPE="EMAIL" INFORMS THE BROWSER THAT THE INPUT IS SPECIFIC TO AN EMAIL ADDRESS.
                                THIS MODIFICATION PROVIDES A DUAL LAYER OF VALIDATION: ONE THROUGH THE BROWSER'S NATIVE EMAIL VALIDATION MECHANISM AND ANOTHER THROUGH THE CUSTOM REGEX PATTERN.
                            -->
                            <input type="email" class="form-control" name="email" id="emailInput" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" title="Please enter a valid email address.">
                            <!-- The following is what I was using before-->
                            <!--<input type="text" class="form-control" name="email" id="emailInput">-->
                        </div>

                        <div class="mb-3">
                            <!-- The following is the label -->
                            <label for="passwordInput" class="form-label">Password</label>
                            <!-- The following is the input that goes under the name "password" -->
                            <input type="password" class="form-control" name="password" id="passwordInput">
                            <div id="passwordHelp" class="form-text">We won't share your password with third parties.</div>
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">login</button>
                        <small>Aren't you singed up yet? <a href="/signup">sign up</a></small>
                    </form>
                </div>
        </div>
    {% endif %}
{% endblock %}